html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.menu-container-aboutUS {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 60px;
  right: 30px;
}
.nav-list-aboutUS {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}
.nav-list-aboutUS li a {
  color: rgb(var(--txt, var(--color_15)));
  text-decoration: none;
  color: #1c1c1c;
  transition: var(--trans, color 0.4s ease 0s);
}
.hover0 {
  transition: all 300ms;
}
.hover0:hover {
  transform: scale(1.22);
}
.logo-aboutUs {
  display: flex;
  justify-content: left;
}
.parrafos {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.pa {
  color: #1c1c1c;
  position: relative;
  font-size: 25px;
}

.pb {
  color: #1c1c1c;
  position: relative;
  font-size: 25px;
}

/* * {
	margin: 0; 
	padding: 0;
} */

body {
  background: white;
  font-family: "Ubuntu";
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1c1c1c;
  text-shadow: 0 1px 2px #3c3c3c;
}

.contenedor-galeria {
  width: 1600px;
  height: 320px;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.contenedor-galeria ul {
  width: 2000px;
}

.contenedor-galeria li {
  position: relative;
  display: block;
  width: 160px;
  height: 350px;
  float: left;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.contenedor-galeria ul:hover li {
  width: 40px;
  filter: brightness(50%);
}

.contenedor-galeria ul li:hover {
  width: 640px;
  filter: brightness(100%);
}

.contenedor-galeria li img {
  display: block;
  width: 640px;
  height: 100%;
}

.titulo-imagen {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100%;
  width: 100%;
  display: block;
  transition: all 0.5s ease;
  animation: cambia-color 10s linear infinite;
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  background-size: 400% 400%;
}
.container-aboutUS {
  max-width: 960px;
  margin: 0 auto;
}
@keyframes cambia-color {
  0% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0%, 100%;
  }
}

.titulo-imagen a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-size: 19px;
  text-shadow: 0 1px 2px #000;
  transition: all 0.5s ease;
}

.contenedor-galeria ul li:hover .titulo-imagen {
  top: 0%;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}

.titulo-imagen:hover a {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.titulo-imagen:active {
  background: rgba(255, 255, 255, 0.5);
}
.menu-responsive {
  display: none;
}
.gallery-responsive {
  display: none;
}
footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #1c1c1c;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }
  .menu-container-aboutUS {
    display: none;
  }
  .contenedor-galeria {
    display: none;
  }
  .logo-aboutUs {
    display: flex;
    justify-content: center;
  }
  .logo-aboutUs img {
    position: relative;
    bottom: 37px;
    width: 20% !important;
  }
  .menu-responsive {
    z-index: 9999 !important;
    display: flex;
    position: relative;
    right: 38px;
    bottom: 146px;
  }

  body {
    font-family: "Roboto", sans-serif;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1c1c1c;
    transition: all 0.5s ease;
  }
  .sidebar header {
    position: relative;
    top: 10px;
    font-size: 25px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #2c2c2c;
    user-select: none;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
  }
  header {
    position: relative;
    right: 35px;
  }
  ul li:hover a {
    padding-left: 50px;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  #check {
    display: none;
  }
  label #btn,
  label #cancel {
    position: absolute;
    background: #1c1c1c;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 40px;
    color: white;
    padding: 4px 9px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 205px;
  }
  #check:checked ~ section {
    margin-left: 250px;
  }
  section {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;
  }
  .parrafos {
    width: 370px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
    bottom: 3400px;
    left: 15px;
  }

  .pa {
    color: #1c1c1c;
    position: relative;
    font-size: 16px;
    bottom: 23px;
  }

  .pb {
    color: #1c1c1c;
    position: relative;
    font-size: 16px;
  }
  .galery {
    position: relative;
    bottom: 3400px;
  }
  /* galeria  */
  .gallery-responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 550px;
  }

  .gallery-item {
    margin: 10px;
    width: 200px;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
  }
  footer {
    position: relative;
    margin-bottom: -20px;
    bottom: 900px;
    font-size: 25px;
  }
}
