body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.navbar-links a {
  color: #2c2c2c;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links a:hover {
  color: green;
}

.navbar-burger {
  display: none;
}

.navbar-links a:hover {
  color: green;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 2em "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

h1 {
  font-weight: 900;
  letter-spacing: -0.1rem;
  font-size: 2rem;
}

.contact>.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact>.contact-wrapper a {
  color: green;
  font-size: 20px;
}

.facebook-icon {
  margin-top: 20px;
  font-size: 30px;
  color: #2374e1;
  align-self: center;
  text-decoration: none;
}

.copyright {
  font: 200 14px "Poppins", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

.whatsappLink {
  text-decoration: none;
}

.menu-responsive {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  align-self: center;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 600px) {
  .navbar-burger {
    display: block;
    font-size: 40px;
    align-self: flex-start;
    font-weight: bold;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links a {
    display: block;
    padding: 10px;
  }

  .logo {
    display: none;
  }
}