html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.menu-container {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 60px;
  right: 30px;
}
.nav-list {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.nav-list li a {
  color: rgb(var(--txt, var(--color_15)));
  text-decoration: none;
  color: #1c1c1c;
  transition: var(--trans, color 0.4s ease 0s);
}
.hover0 {
  transition: all 300ms;
}
.hover0:hover {
  transform: scale(1.22);
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: green;
  list-style: none;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

.whatsappLink {
  text-decoration: none;
}
.menu-responsive {
  display: none;
}
footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #1c1c1c;
  font-size: 20px;
}

/* Begin Media Queries*/
@media only screen and (max-width: 900px) {
  .body {
    margin: 0;
    padding: 0;
  }
  .menu-container {
    display: none;
  }
  .logo-home {
    display: flex;
    justify-content: center;
  }
  .logo-home img {
    position: relative;
    width: 20% !important;
  }
  .menu-responsive {
    z-index: 9999 !important;
    display: flex;
    position: relative;
    bottom: 100px;
    right: 33px;
  }

  body {
    font-family: "Roboto", sans-serif;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #1c1c1c;
    transition: all 0.5s ease;
  }
  .sidebar header {
    position: relative;
    top: 10px;
    font-size: 25px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #2c2c2c;
    user-select: none;
  }
  .sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
  }
  header {
    position: relative;
    right: 35px;
  }
  ul li:hover a {
    padding-left: 50px;
  }
  .sidebar ul a i {
    margin-right: 16px;
  }
  #check {
    display: none;
  }
  label #btn,
  label #cancel {
    position: absolute;
    background: #1c1c1c;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
  }
  label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 40px;
    color: white;
    padding: 4px 9px;
    transition: all 0.5s ease;
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel {
    left: 205px;
  }
  #check:checked ~ section {
    margin-left: 250px;
  }
  section {
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.5s;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }
  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  .send-button {
    width: 99%;
  }
  footer {
    position: relative;
    margin-bottom: -20px;
  }
}
