body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.navbar-links a {
  color: #2c2c2c;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #7f8848;
}

/* Body content and information styles */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 800px;
  margin: 10px;
  padding: 2rem;
  background-color: #C4FCEF;
  border-radius: 8px;
  font-size: 20px;
}

.lg-link {
  color: #7f8848;
}

.link {
  color: #7f8848;
}

.convocatoria2023 {
  width: 800px;
  align-self: center;
}
.god-family-community {
  position: relative;
  left: 260px;
  padding: 10px;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #7f8848;
  padding-top: 10px;
  margin-top: 25px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-message {
  font-size: 18px;
}

.footer-whatsapp-icon {
  font-size: 30px;
  color: #7f8848;
}

.contact-wrapper a:hover {
  color: #7f8848;
}

.contact-link a {
  color: #287aae;
}

.footer-facebook-icon {
  font-size: 30px;
  color: #2374e1;
  text-decoration: none;
  margin-left: 10px;
}

/* responsive/phone styles */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .navbar-links a {
    display: block;
    padding: 10px;
    font-size: 15px;
  }

  .logo {
    display: none;
  }
  
  .imagen-anuncio {
    width: 330px;
  }
  .animacion-boton {
    margin: 10px;
    font-size: 1.2em;
  }

  iframe {
    position: relative;
    width: 380px;
    height: 200px;
  }

  .info {
    width: 80%;
    font-size: 15px;
  }

  .lg-link {
    color: #7f8848;
    font-size: 16px;
  }

  .link {
    color: #7f8848;
    font-size: 18px;
  }

  .convocatoria2023 {
    width: 400px;
    align-self: center;
  }
  .god-family-community {
    width: 400px;
    align-self: center;
    left: 0;
  }
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-whatsapp-icon {
    display: none;
  }

  .contact-wrapper a {
    display: none;
  }
}
