body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boton {
  display: flex;
  justify-content: center;
  font-size: 2em;
  color: red;
  text-decoration: none;
}
.animacion-boton {
  margin: 10px;
  animation-name: escalaBoton;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes escalaBoton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  width: 100px;
}

.navbar-links a {
  color: #2c2c2c;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links a:hover {
  color: #7f8848;
}

.navbar-burger {
  display: none;
}

/* Body content and information styles */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 800px;
  margin: 10px;
  padding: 2rem;
  background-color: #101010;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}

.lg-link {
  color: #7f8848;
}

.link {
  color: #7f8848;
}

.convocatoria2023 {
  width: 800px;
  align-self: center;
}


/* Footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #7f8848;
  padding-top: 10px;
  margin-top: 25px;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-message {
  font-size: 18px;
}

.footer-whatsapp-icon {
  font-size: 30px;
  color: #7f8848;
}

.contact-wrapper a {
  color: black;
  padding: 5px;
}

.contact-wrapper a:hover {
  color: #7f8848;
}

.footer-facebook-icon {
  font-size: 30px;
  color: #2374e1;
  text-decoration: none;
}

/* responsive/phone styles */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .navbar-burger {
    display: block;
    font-size: 40px;
    align-self: flex-start;
    font-weight: bold;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links a {
    display: block;
    padding: 10px;
  }

  .logo {
    display: none;
  }
  .animacion-boton {
    margin: 10px;
    font-size: 1.2em;
  }

  .info {
    width: 80%;
  }

  .lg-link {
    color: #7f8848;
    font-size: 16px;
  }

  .link {
    color: #7f8848;
    font-size: 18px;
  }

  .convocatoria2023 {
    width: 400px;
    align-self: center;
  }
  .god-family-community {
    width: 400px;
    align-self: center;
  }
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-whatsapp-icon {
    display: none;
  }

  .contact-wrapper a {
    display: none;
  }
}
