body {
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.slogan {
  display: flex;
  justify-content: center;
  color: #1c1c1c;
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.mission-statement-image {
  align-self: center;
}

.mission-statement-image img {
  width: 500px;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #7f8848;
  padding-top: 10px;
  margin-top: 25px;
}

.footer-message {
  font-size: 18px;
}

.footer-whatsapp-icon {
  font-size: 30px;
  color: #7f8848;
}

.contact-wrapper a {
  color: black;
  padding: 5px;
}

.contact-wrapper a:hover {
  color: #7f8848;
}

.footer-facebook-icon {
  font-size: 30px;
  color: #2374e1;
  text-decoration: none;
}

/* Responsive/phone styles */
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .slogan {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }

  .mission-statement-image img {
    width: 280px;
  }

  .navbar-links a {
    display: block;
    padding: 10px;
  }

  .logo {
    display: none;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #7f8848;
    padding-top: 10px;
    margin-top: 25px;
  }

  .footer-whatsapp-icon {
    display: none;
  }
}